## Analysis of CDC data for Obesity

In [1]:
#Import libraries
import seaborn as sb
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.dates as dates
import matplotlib.pyplot as mpl

%matplotlib inline

CDC data available between 9/2019 and 11/2019 changed. My first data set downloaded covered 2011-2015 and reported Fruit and Vegetable consumption for odd numbered years (2011,2013,2015). 

The data set I downloaded in November 2019 covered 2011-2018 but only had Fruit and Vegetable consumption for 2017. 

My first challenge is to union these two datasets and then remove duplicates so I can analyse data for 2011-2018

In [2]:
df_2015_raw = pd.read_csv("cdc_npao.csv")
df_2015_raw.columns

Index(['YearStart', 'YearEnd', 'LocationAbbr', 'LocationDesc', 'Datasource',
       'Class', 'Topic', 'Question', 'Data_Value_Unit', 'Data_Value_Type',
       'Data_Value', 'Data_Value_Alt', 'Data_Value_Footnote_Symbol',
       'Data_Value_Footnote', 'Low_Confidence_Limit', 'High_Confidence_Limit ',
       'Sample_Size', 'Total', 'Age(years)', 'Education', 'Gender', 'Income',
       'Race/Ethnicity', 'GeoLocation', 'ClassID', 'TopicID', 'QuestionID',
       'DataValueTypeID', 'LocationID', 'StratificationCategory1',
       'Stratification1', 'StratificationCategoryId1', 'StratificationID1'],
      dtype='object')

In [3]:
df_2015_raw.head(2)

,YearStart,YearEnd,LocationAbbr,LocationDesc,Datasource,Class,Topic,Question,Data_Value_Unit,Data_Value_Type,...,GeoLocation,ClassID,TopicID,QuestionID,DataValueTypeID,LocationID,StratificationCategory1,Stratification1,StratificationCategoryId1,StratificationID1
0,2011,2011,AL,Alabama,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,"(32.84057112200048, -86.63186076199969)",OWS,OWS1,Q036,VALUE,1,Total,Total,OVR,OVERALL
1,2011,2011,AL,Alabama,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,"(32.84057112200048, -86.63186076199969)",OWS,OWS1,Q036,VALUE,1,Gender,Male,GEN,MALE

In [15]:
(df_2015_raw)

,YearStart,YearEnd,LocationAbbr,LocationDesc,Datasource,Class,Topic,Question,Data_Value_Unit,Data_Value_Type,...,GeoLocation,ClassID,TopicID,QuestionID,DataValueTypeID,LocationID,StratificationCategory1,Stratification1,StratificationCategoryId1,StratificationID1
0,2011,2011,AL,Alabama,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,"(32.84057112200048, -86.63186076199969)",OWS,OWS1,Q036,VALUE,1,Total,Total,OVR,OVERALL
1,2011,2011,AL,Alabama,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,"(32.84057112200048, -86.63186076199969)",OWS,OWS1,Q036,VALUE,1,Gender,Male,GEN,MALE
2,2011,2011,AL,Alabama,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,"(32.84057112200048, -86.63186076199969)",OWS,OWS1,Q036,VALUE,1,Gender,Female,GEN,FEMALE
3,2011,2011,AL,Alabama,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,"(32.84057112200048, -86.63186076199969)",OWS,OWS1,Q036,VALUE,1,Education,Less than high school,EDU,EDUHS
4,2011,2011,AL,Alabama,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,"(32.84057112200048, -86.63186076199969)",OWS,OWS1,Q036,VALUE,1,Education,High school graduate,EDU,EDUHSGRAD
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48767,2015,2015,PR,Puerto Rico,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,"(18.220833, -66.590149)",OWS,OWS1,Q037,VALUE,72,Race/Ethnicity,Hawaiian/Pacific Islander,RACE,RACEHPI
48768,2015,2015,PR,Puerto Rico,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,"(18.220833, -66.590149)",OWS,OWS1,Q037,VALUE,72,Race/Ethnicity,Non-Hispanic Black,RACE,RACEBLK
48769,2015,2015,PR,Puerto Rico,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,"(18.220833, -66.590149)",OWS,OWS1,Q037,VALUE,72,Race/Ethnicity,Non-Hispanic White,RACE,RACEWHT
48770,2015,2015,PR,Puerto Rico,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,"(18.220833, -66.590149)",OWS,OWS1,Q037,VALUE,72,Race/Ethnicity,Other,RACE,RACEOTH
48771,2015,2015,PR,Puerto Rico,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,"(18.220833, -66.590149)",OWS,OWS1,Q037,VALUE,72,Race/Ethnicity,Hispanic,RACE,RACEHIS

In [11]:
df_2015_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48772 entries, 0 to 48771
Data columns (total 33 columns):
YearStart                     48772 non-null int64
YearEnd                       48772 non-null int64
LocationAbbr                  48772 non-null object
LocationDesc                  48772 non-null object
Datasource                    48772 non-null object
Class                         48772 non-null object
Topic                         48772 non-null object
Question                      48772 non-null object
Data_Value_Unit               0 non-null float64
Data_Value_Type               48772 non-null object
Data_Value                    44169 non-null float64
Data_Value_Alt                44169 non-null float64
Data_Value_Footnote_Symbol    4603 non-null object
Data_Value_Footnote           4603 non-null object
Low_Confidence_Limit          44169 non-null float64
High_Confidence_Limit         44169 non-null float64
Sample_Size                   44169 non-null float64
Total                         1742 non-null object
Age(years)                    10448 non-null object
Education                     6968 non-null object
Gender                        3484 non-null object
Income                        12194 non-null object
Race/Ethnicity                13936 non-null object
GeoLocation                   47848 non-null object
ClassID                       48772 non-null object
TopicID                       48772 non-null object
QuestionID                    48772 non-null object
DataValueTypeID               48772 non-null object
LocationID                    48772 non-null int64
StratificationCategory1       48772 non-null object
Stratification1               48772 non-null object
StratificationCategoryId1     48772 non-null object
StratificationID1             48772 non-null object
dtypes: float64(6), int64(3), object(24)
memory usage: 12.3+ MB

There is one field *Data_Value_Unit* that has all nulls.

The *Data_Value* field contains the value corresponding to the *Question*.

There is a column field *Total* that only contains summarized values and there are additional columns that contain data only for the stratified categories.

Several fields have null values, based on the way the data is organized. The dataset as downloaded is both 'long' and 'wide' containing columns for each category (*Gender, Education, Income, Age, Race/Ethnicity, Total*) and columns of the categories (*StratificationCategory1,StratificationId1*).

In [29]:
(df_2015_raw
     .filter(['YearStart','YearEnd','LocationAbbr','LocationDesc','Data_Value_Type','Data_Value','Total','Age','Gender','ClassID','QuestionID','Question','StratificationCategory1','Stratification1','StratificationCategoryId1','StratificationID1'])
     .head(5)
    )

,YearStart,YearEnd,LocationAbbr,LocationDesc,Data_Value_Type,Data_Value,Total,Gender,ClassID,QuestionID,Question,StratificationCategory1,Stratification1,StratificationCategoryId1,StratificationID1
0,2011,2011,AL,Alabama,Value,32.0,Total,NaN,OWS,Q036,Percent of adults aged 18 years and older who ...,Total,Total,OVR,OVERALL
1,2011,2011,AL,Alabama,Value,32.3,NaN,Male,OWS,Q036,Percent of adults aged 18 years and older who ...,Gender,Male,GEN,MALE
2,2011,2011,AL,Alabama,Value,31.8,NaN,Female,OWS,Q036,Percent of adults aged 18 years and older who ...,Gender,Female,GEN,FEMALE
3,2011,2011,AL,Alabama,Value,33.6,NaN,NaN,OWS,Q036,Percent of adults aged 18 years and older who ...,Education,Less than high school,EDU,EDUHS
4,2011,2011,AL,Alabama,Value,32.8,NaN,NaN,OWS,Q036,Percent of adults aged 18 years and older who ...,Education,High school graduate,EDU,EDUHSGRAD

The fields *YearStart* and *YearEnd* contain the start and end date of the survey. As they are the same value in this dataset I will add a field called *Year* and remove them.

For example the *Stratification..* & *Stratification..Id1*  columns contain similar information and can be removed.

Several of the fields can be removed.

In [39]:
#------------------------------------
# INSPECT FIELDS FOR REMOVING 
#------------------------------------

# INSPECT 'Year','Stratification..'
(df_2015_raw
     .filter(['YearStart','YearEnd''StratificationCategory1','Stratification1', 'StratificationCategoryId1', 'StratificationID1'])
    )

,YearStart,Stratification1,StratificationCategoryId1,StratificationID1
0,2011,Total,OVR,OVERALL
1,2011,Male,GEN,MALE
2,2011,Female,GEN,FEMALE
3,2011,Less than high school,EDU,EDUHS
4,2011,High school graduate,EDU,EDUHSGRAD
...,...,...,...,...
48767,2015,Hawaiian/Pacific Islander,RACE,RACEHPI
48768,2015,Non-Hispanic Black,RACE,RACEBLK
48769,2015,Non-Hispanic White,RACE,RACEWHT
48770,2015,Other,RACE,RACEOTH
48771,2015,Hispanic,RACE,RACEHIS

The fields *Data_Value_Type, Data_Value_Alt, Data_Value_Footnote_Symbol* are all either null, contain the same value, while *Data_Value_Footnote_Symbol* indicates that *Data_Value_Footnote* has contents.

The *Confidence_Limit* fields will not be used for this analysis and can be removed.

In [36]:
#------------------------------------
# INSPECT FIELDS FOR REMOVING 
#------------------------------------

# INSPECT 'DATA...'
(df_2015_raw
     .filter(['Data_Value_Unit', 'Data_Value_Type','Data_Value', 'Data_Value_Alt', 'Data_Value_Footnote_Symbol',
       'Data_Value_Footnote', 'Low_Confidence_Limit', 'High_Confidence_Limit '])
    )

,Data_Value_Unit,Data_Value_Type,Data_Value,Data_Value_Alt,Data_Value_Footnote_Symbol,Data_Value_Footnote,Low_Confidence_Limit,High_Confidence_Limit
0,NaN,Value,32.0,32.0,NaN,NaN,30.5,33.5
1,NaN,Value,32.3,32.3,NaN,NaN,29.9,34.7
2,NaN,Value,31.8,31.8,NaN,NaN,30.0,33.6
3,NaN,Value,33.6,33.6,NaN,NaN,29.9,37.6
4,NaN,Value,32.8,32.8,NaN,NaN,30.2,35.6
...,...,...,...,...,...,...,...,...
48767,NaN,Value,NaN,NaN,~,Data not available because sample size is insu...,NaN,NaN
48768,NaN,Value,NaN,NaN,~,Data not available because sample size is insu...,NaN,NaN
48769,NaN,Value,NaN,NaN,~,Data not available because sample size is insu...,NaN,NaN
48770,NaN,Value,NaN,NaN,~,Data not available because sample size is insu...,NaN,NaN
48771,NaN,Value,37.6,37.6,NaN,NaN,35.9,39.2

The fields *ClassID, TopicID* are all *OWS* for *Obesity Weight Survey* and can be filtered out.

The data in the *QuestionID, DataValueTypeID, LocationID* is either repeated elsewhere or will not be used and can also be filtered out..

In [37]:
#------------------------------------
# INSPECT FIELDS FOR REMOVING 
#------------------------------------

# INSPECT '...ID'
(df_2015_raw
     .filter(['ClassID', 'TopicID', 'QuestionID','DataValueTypeID', 'LocationID'])
    )

      ClassID TopicID QuestionID DataValueTypeID  LocationID
0         OWS    OWS1       Q036           VALUE           1
1         OWS    OWS1       Q036           VALUE           1
2         OWS    OWS1       Q036           VALUE           1
3         OWS    OWS1       Q036           VALUE           1
4         OWS    OWS1       Q036           VALUE           1
...       ...     ...        ...             ...         ...
48767     OWS    OWS1       Q037           VALUE          72
48768     OWS    OWS1       Q037           VALUE          72
48769     OWS    OWS1       Q037           VALUE          72
48770     OWS    OWS1       Q037           VALUE          72
48771     OWS    OWS1       Q037           VALUE          72

[48772 rows x 5 columns]

In [42]:
#------------------------------------
# INSPECT FIELDS FOR REMOVING 
#------------------------------------

# INSPECT 

(df_2015_raw
    .filter(['Class','Topic','GeoLocation'])
    )

,Class,Topic,GeoLocation
0,Obesity / Weight Status,Obesity / Weight Status,"(32.84057112200048, -86.63186076199969)"
1,Obesity / Weight Status,Obesity / Weight Status,"(32.84057112200048, -86.63186076199969)"
2,Obesity / Weight Status,Obesity / Weight Status,"(32.84057112200048, -86.63186076199969)"
3,Obesity / Weight Status,Obesity / Weight Status,"(32.84057112200048, -86.63186076199969)"
4,Obesity / Weight Status,Obesity / Weight Status,"(32.84057112200048, -86.63186076199969)"
...,...,...,...
48767,Obesity / Weight Status,Obesity / Weight Status,"(18.220833, -66.590149)"
48768,Obesity / Weight Status,Obesity / Weight Status,"(18.220833, -66.590149)"
48769,Obesity / Weight Status,Obesity / Weight Status,"(18.220833, -66.590149)"
48770,Obesity / Weight Status,Obesity / Weight Status,"(18.220833, -66.590149)"
48771,Obesity / Weight Status,Obesity / Weight Status,"(18.220833, -66.590149)"

In [53]:
df_2015_raw

,YearStart,YearEnd,LocationAbbr,LocationDesc,Datasource,Class,Topic,Question,Data_Value_Unit,Data_Value_Type,...,GeoLocation,ClassID,TopicID,QuestionID,DataValueTypeID,LocationID,StratificationCategory1,Stratification1,StratificationCategoryId1,StratificationID1
0,2011,2011,AL,Alabama,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,"(32.84057112200048, -86.63186076199969)",OWS,OWS1,Q036,VALUE,1,Total,Total,OVR,OVERALL
1,2011,2011,AL,Alabama,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,"(32.84057112200048, -86.63186076199969)",OWS,OWS1,Q036,VALUE,1,Gender,Male,GEN,MALE
2,2011,2011,AL,Alabama,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,"(32.84057112200048, -86.63186076199969)",OWS,OWS1,Q036,VALUE,1,Gender,Female,GEN,FEMALE
3,2011,2011,AL,Alabama,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,"(32.84057112200048, -86.63186076199969)",OWS,OWS1,Q036,VALUE,1,Education,Less than high school,EDU,EDUHS
4,2011,2011,AL,Alabama,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,"(32.84057112200048, -86.63186076199969)",OWS,OWS1,Q036,VALUE,1,Education,High school graduate,EDU,EDUHSGRAD
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48767,2015,2015,PR,Puerto Rico,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,"(18.220833, -66.590149)",OWS,OWS1,Q037,VALUE,72,Race/Ethnicity,Hawaiian/Pacific Islander,RACE,RACEHPI
48768,2015,2015,PR,Puerto Rico,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,"(18.220833, -66.590149)",OWS,OWS1,Q037,VALUE,72,Race/Ethnicity,Non-Hispanic Black,RACE,RACEBLK
48769,2015,2015,PR,Puerto Rico,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,"(18.220833, -66.590149)",OWS,OWS1,Q037,VALUE,72,Race/Ethnicity,Non-Hispanic White,RACE,RACEWHT
48770,2015,2015,PR,Puerto Rico,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,"(18.220833, -66.590149)",OWS,OWS1,Q037,VALUE,72,Race/Ethnicity,Other,RACE,RACEOTH
48771,2015,2015,PR,Puerto Rico,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,"(18.220833, -66.590149)",OWS,OWS1,Q037,VALUE,72,Race/Ethnicity,Hispanic,RACE,RACEHIS

In [9]:
#--------------------
# CREATE ARRAY FILTER
#--------------------

filter1 = ['Year','LocationAbbr', 'LocationDesc','Question', 'QuestionID',
       'Data_Value', 'Data_Value_Footnote',
       'Sample_Size', 'Total', 'Age(years)', 'Education', 'Gender', 'Income',
       'Race/Ethnicity', 'StratificationCategory1',
       'Stratification1']

In [10]:
#---------------
# FILTER DATASET
#---------------

df_2015 = (df_2015_raw
           .assign(Year=df_2015_raw.YearStart)
           .filter(filter1)
          )
df_2015

,Year,LocationAbbr,LocationDesc,Question,QuestionID,Data_Value,Data_Value_Footnote,Sample_Size,Total,Age(years),Education,Gender,Income,Race/Ethnicity,StratificationCategory1,Stratification1
0,2011,AL,Alabama,Percent of adults aged 18 years and older who ...,Q036,32.0,NaN,7304.0,Total,NaN,NaN,NaN,NaN,NaN,Total,Total
1,2011,AL,Alabama,Percent of adults aged 18 years and older who ...,Q036,32.3,NaN,2581.0,NaN,NaN,NaN,Male,NaN,NaN,Gender,Male
2,2011,AL,Alabama,Percent of adults aged 18 years and older who ...,Q036,31.8,NaN,4723.0,NaN,NaN,NaN,Female,NaN,NaN,Gender,Female
3,2011,AL,Alabama,Percent of adults aged 18 years and older who ...,Q036,33.6,NaN,1153.0,NaN,NaN,Less than high school,NaN,NaN,NaN,Education,Less than high school
4,2011,AL,Alabama,Percent of adults aged 18 years and older who ...,Q036,32.8,NaN,2402.0,NaN,NaN,High school graduate,NaN,NaN,NaN,Education,High school graduate
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48767,2015,PR,Puerto Rico,Percent of adults aged 18 years and older who ...,Q037,NaN,Data not available because sample size is insu...,NaN,NaN,NaN,NaN,NaN,NaN,Hawaiian/Pacific Islander,Race/Ethnicity,Hawaiian/Pacific Islander
48768,2015,PR,Puerto Rico,Percent of adults aged 18 years and older who ...,Q037,NaN,Data not available because sample size is insu...,NaN,NaN,NaN,NaN,NaN,NaN,Non-Hispanic Black,Race/Ethnicity,Non-Hispanic Black
48769,2015,PR,Puerto Rico,Percent of adults aged 18 years and older who ...,Q037,NaN,Data not available because sample size is insu...,NaN,NaN,NaN,NaN,NaN,NaN,Non-Hispanic White,Race/Ethnicity,Non-Hispanic White
48770,2015,PR,Puerto Rico,Percent of adults aged 18 years and older who ...,Q037,NaN,Data not available because sample size is insu...,NaN,NaN,NaN,NaN,NaN,NaN,Other,Race/Ethnicity,Other
48771,2015,PR,Puerto Rico,Percent of adults aged 18 years and older who ...,Q037,37.6,NaN,5104.0,NaN,NaN,NaN,NaN,NaN,Hispanic,Race/Ethnicity,Hispanic

Repeat the data upload and filtering for the 2018 dataset

In [6]:
df_2018_raw = pd.read_csv("Nutrition__Physical_Activity__and_Obesity_-_Behavioral_Risk_Factor_Surveillance_System.csv")
df_2018_raw.columns

Index(['YearStart', 'YearEnd', 'LocationAbbr', 'LocationDesc', 'Datasource',
       'Class', 'Topic', 'Question', 'Data_Value_Unit', 'Data_Value_Type',
       'Data_Value', 'Data_Value_Alt', 'Data_Value_Footnote_Symbol',
       'Data_Value_Footnote', 'Low_Confidence_Limit', 'High_Confidence_Limit ',
       'Sample_Size', 'Total', 'Age(years)', 'Education', 'Gender', 'Income',
       'Race/Ethnicity', 'GeoLocation', 'ClassID', 'TopicID', 'QuestionID',
       'DataValueTypeID', 'LocationID', 'StratificationCategory1',
       'Stratification1', 'StratificationCategoryId1', 'StratificationID1'],
      dtype='object')

In [11]:
#---------------
# FILTER DATASET
#---------------

df_2018 = (df_2018_raw
           .assign(Year=df_2018_raw.YearStart)
           .filter(filter1)
          )
df_2018

,Year,LocationAbbr,LocationDesc,Question,QuestionID,Data_Value,Data_Value_Footnote,Sample_Size,Total,Age(years),Education,Gender,Income,Race/Ethnicity,StratificationCategory1,Stratification1
0,2012,WY,Wyoming,Percent of adults aged 18 years and older who ...,Q037,48.5,NaN,69,NaN,NaN,NaN,NaN,NaN,American Indian/Alaska Native,Race/Ethnicity,American Indian/Alaska Native
1,2012,DC,District of Columbia,Percent of adults aged 18 years and older who ...,Q036,31.6,NaN,243,NaN,NaN,Less than high school,NaN,NaN,NaN,Education,Less than high school
2,2011,AL,Alabama,Percent of adults aged 18 years and older who ...,Q036,35.2,NaN,598,NaN,25 - 34,NaN,NaN,NaN,NaN,Age (years),25 - 34
3,2013,US,National,Percent of adults who engage in no leisure-tim...,Q047,27.9,NaN,"266,452",NaN,NaN,NaN,Female,NaN,NaN,Gender,Female
4,2011,US,National,Percent of adults who engage in no leisure-tim...,Q047,16.9,NaN,"20,923",NaN,18 - 24,NaN,NaN,NaN,NaN,Age (years),18 - 24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63023,2015,CA,California,Percent of adults who achieve at least 150 min...,Q044,23.2,NaN,"1,069",NaN,NaN,NaN,NaN,"$35,000 - $49,999",NaN,Income,"$35,000 - $49,999"
63024,2014,SC,South Carolina,Percent of adults aged 18 years and older who ...,Q037,34.5,NaN,172,NaN,NaN,NaN,NaN,NaN,2 or more races,Race/Ethnicity,2 or more races
63025,2011,MS,Mississippi,Percent of adults aged 18 years and older who ...,Q036,NaN,Data not available because sample size is insu...,NaN,NaN,NaN,NaN,NaN,NaN,Asian,Race/Ethnicity,Asian
63026,2012,MS,Mississippi,Percent of adults aged 18 years and older who ...,Q036,35.6,NaN,"1,888",NaN,NaN,Some college or technical school,NaN,NaN,NaN,Education,Some college or technical school
63027,2013,AZ,Arizona,Percent of adults who engage in no leisure-tim...,Q047,21.4,NaN,408,NaN,35 - 44,NaN,NaN,NaN,NaN,Age (years),35 - 44

In [8]:
df_2018['Year'].max()

2018

In [14]:
df_2018.Question.unique()

array(['Percent of adults aged 18 years and older who have an overweight classification',
       'Percent of adults aged 18 years and older who have obesity',
       'Percent of adults who engage in no leisure-time physical activity',
       'Percent of adults who achieve at least 150 minutes a week of moderate-intensity aerobic physical activity or 75 minutes a week of vigorous-intensity aerobic activity (or an equivalent combination)',
       'Percent of adults who achieve at least 150 minutes a week of moderate-intensity aerobic physical activity or 75 minutes a week of vigorous-intensity aerobic physical activity and engage in muscle-strengthening activities on 2 or more days a week',
       'Percent of adults who engage in muscle-strengthening activities on 2 or more days a week',
       'Percent of adults who achieve at least 300 minutes a week of moderate-intensity aerobic physical activity or 150 minutes a week of vigorous-intensity aerobic activity (or an equivalent combination)',
       'Percent of adults who report consuming vegetables less than one time daily',
       'Percent of adults who report consuming fruit less than one time daily'],
      dtype=object)

In [15]:
df_2015.Question.unique()

array(['Percent of adults aged 18 years and older who have obesity',
       'Percent of adults aged 18 years and older who have an overweight classification',
       'Percent of adults who report consuming fruit less than one time daily',
       'Percent of adults who report consuming vegetables less than one time daily',
       'Percent of adults who engage in muscle-strengthening activities on 2 or more days a week',
       'Percent of adults who achieve at least 150 minutes a week of moderate-intensity aerobic physical activity or 75 minutes a week of vigorous-intensity aerobic activity (or an equivalent combination)',
       'Percent of adults who achieve at least 150 minutes a week of moderate-intensity aerobic physical activity or 75 minutes a week of vigorous-intensity aerobic physical activity and engage in muscle-strengthening activities on 2 or more days a week',
       'Percent of adults who achieve at least 300 minutes a week of moderate-intensity aerobic physical activity or 150 minutes a week of vigorous-intensity aerobic activity (or an equivalent combination)',
       'Percent of adults who engage in no leisure-time physical activity'],
      dtype=object)

In [18]:
(df_2015['Question'].value_counts())

Percent of adults aged 18 years and older who have an overweight classification                                                                                                                                                                          7420
Percent of adults aged 18 years and older who have obesity                                                                                                                                                                                               7420
Percent of adults who engage in no leisure-time physical activity                                                                                                                                                                                        7392
Percent of adults who engage in muscle-strengthening activities on 2 or more days a week                                                                                                                                                                 4424
Percent of adults who achieve at least 150 minutes a week of moderate-intensity aerobic physical activity or 75 minutes a week of vigorous-intensity aerobic activity (or an equivalent combination)                                                     4424
Percent of adults who achieve at least 300 minutes a week of moderate-intensity aerobic physical activity or 150 minutes a week of vigorous-intensity aerobic activity (or an equivalent combination)                                                    4424
Percent of adults who achieve at least 150 minutes a week of moderate-intensity aerobic physical activity or 75 minutes a week of vigorous-intensity aerobic physical activity and engage in muscle-strengthening activities on 2 or more days a week    4424
Percent of adults who report consuming vegetables less than one time daily                                                                                                                                                                               4424
Percent of adults who report consuming fruit less than one time daily                                                                                                                                                                                    4420
Name: Question, dtype: int64

In [19]:
(df_2018['Question'].value_counts())

Percent of adults aged 18 years and older who have an overweight classification                                                                                                                                                                          12040
Percent of adults aged 18 years and older who have obesity                                                                                                                                                                                               12040
Percent of adults who engage in no leisure-time physical activity                                                                                                                                                                                        12012
Percent of adults who engage in muscle-strengthening activities on 2 or more days a week                                                                                                                                                                  5964
Percent of adults who achieve at least 150 minutes a week of moderate-intensity aerobic physical activity or 75 minutes a week of vigorous-intensity aerobic activity (or an equivalent combination)                                                      5964
Percent of adults who achieve at least 300 minutes a week of moderate-intensity aerobic physical activity or 150 minutes a week of vigorous-intensity aerobic activity (or an equivalent combination)                                                     5964
Percent of adults who achieve at least 150 minutes a week of moderate-intensity aerobic physical activity or 75 minutes a week of vigorous-intensity aerobic physical activity and engage in muscle-strengthening activities on 2 or more days a week     5964
Percent of adults who report consuming fruit less than one time daily                                                                                                                                                                                     1540
Percent of adults who report consuming vegetables less than one time daily                                                                                                                                                                                1540
Name: Question, dtype: int64

In [21]:
(df_2015['QuestionID'].value_counts())

Q037    7420
Q036    7420
Q047    7392
Q044    4424
Q045    4424
Q046    4424
Q043    4424
Q019    4424
Q018    4420
Name: QuestionID, dtype: int64

In [22]:
(df_2018['QuestionID'].value_counts())

Q037    12040
Q036    12040
Q047    12012
Q044     5964
Q045     5964
Q046     5964
Q043     5964
Q018     1540
Q019     1540
Name: QuestionID, dtype: int64

In [35]:
df_2018_reduced = df_2018.loc[df_2018['QuestionID'].isin(['Q018','Q019'])]
(df_2018_reduced
     .groupby(['Year','QuestionID'])
     .size()
)

Year  QuestionID
2017  Q018          1540
      Q019          1540
dtype: int64

In [37]:
df_2015_reduced = df_2015.loc[df_2015['QuestionID'].isin(['Q018','Q019'])]
(df_2015_reduced
     .groupby(['Year','QuestionID'])
     .size()
)

Year  QuestionID
2011  Q018          1456
      Q019          1456
2013  Q018          1456
      Q019          1456
2015  Q018          1508
      Q019          1512
dtype: int64